:root{
    --bg-header:green;
    --bg-footer:green;
    --bg-main:aliceblue;
    --bg-nav:grey;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;

}
/*stylesheet of the whole body part of the html*/
.body {
    background-color: ;
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-columns: 175px 1fr;
    grid-template-rows: auto 1fr auto ;
    height: 45vmax;
    max-width: 800px;
    border: 1px solid #000;
    margin: 20px auto;
}
/*header part stylesheet adding bg color and text alignment*/
#head{
    background-color:var(--bg-header);
    color: white;
    text-align: left;
    grid-column: 1 /span 2;
    padding: 15px;
    font-size: 1.5em;
}
/*navigation stylehseet where we add background color and text alignment as well as padding also known as box model*/
#nav{
    background-color:var(--bg-nav);
    color: white;
    text-align: left;
    padding: 10px;
    width: 175px;
    
}
#main{
    background-color: var(--bg-main);
    color: black;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 10px;
    
}
#foot{
    background-color: var(--bg-footer);
    color: white;
    text-align: center;
    padding: 10px;
    grid-column: 1 /span 2;
}
.header-right {
    
    text-align: right;
    font-size: small;
    margin-left: 8px;
}
.header-left {
    text-align: left;
    font-size: larger;
    margin-right: 8px;
}

#nav ul {
    list-style-type: disc;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#themechange{
    display: none;
}

#themechange:checked ~ .body {
    --bg-header: rgb(77, 76, 76);
    --bg-nav: rgb(49, 49, 49);
    --bg-footer: rgb(82, 81, 81);
    --bg-main:rgb(172, 169, 169);
    --bg-text: black;
}
